h1, h2 {
    margin-top: 1.5rem;
    text-align: center;
}

mat-card {
    padding-left: 10%;
    margin-left: 8%;
    width: 70%;
    margin-top: 2rem;
}

#mainMenuButton {
    bottom: 0;
    position: absolute;
}